<%= link_to("<< Back", {:controller => 'users', :action => 'index'}, :class => 'back-link btn btn-light') %>

<br />

<section id="edit-payment-details">

	<h3>Edit Payment Details</h3>

	<%= form_for(@payment_detail, :url => {:controller => 'payment_details', :action => 'update', :id => @payment_detail.id}) do |t| %>

    <%= render "form", t: t %>

		<%= submit_tag("Update Payment Details", :class => "btn btn-success") %>

	<% end %>

</section>

<br />
