<% @page_title = "Add Payment Details" %>

<%= link_to("<< Back", {:controller => 'users', :action => 'index'}, :class => 'back-link btn btn-light') %>

<br />

<section id="add-payment-details">

	<h3>Add Payment Details</h3>

	<%= form_for(:payment_detail, :url => {:controller => 'payment_details', :action => 'create'}) do |t| %>

    <%= render "form", t: t %>

		<%= submit_tag("Create Payment Details", :class => "btn btn-success") %>

	<% end %>

</section>

<br />
