<%= link_to("<< Back", {:controller => 'users', :action => 'index'}, :class => 'back-link btn btn-light') %>

<br />

<section id="edit-client">

	<h3>Edit Client</h3>

	<%= form_for(@client, :url => {:controller => 'clients', :action => 'update', :id => @client.id}) do |t| %>

    <%= render "form", t: t %>

		<%= submit_tag("Update Client", :class => "btn btn-success") %>

	<% end %>

</section>

<br />
