<% @page_title = "Add New Client" %>

<%= link_to("<< Back", {:controller => 'users', :action => 'index'}, :class => 'back-link btn btn-light') %>

<br />

<section id="add-new-client">

	<h3>Add New Client</h3>

	<%= form_for(:client, :url => {:controller => 'clients', :action => 'create'}) do |t| %>

    <%= render "form", t: t %>

		<%= submit_tag("Create Client", :class => "btn btn-success") %>

	<% end %>

</section>

<br />
