// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

// `show.html.erb`
#add-new-invoice {
  margin-top: 1.2em;
}

#invoice-detail {
  margin-top: 1.2em;
}

#edit-invoice {
  margin-top: 1.2em;
}

// For Invoice PDF output (`show.pdf.erb`)
// Generic align styling for individual `th` and `td` elements in HTML `table`
.pdf-invoice-table-left-align {
  text-align: left;
}

.pdf-invoice-table-right-align {
  text-align: right;
}

// e.g. Tax Invoice #
#pdf-invoice-number {
  text-align: right;
}

// e.g. Bill To, Invoice Date, Due Date
#pdf-invoice-details {
  font-size: 1.2em;
  padding-top: 2%;
}

.pdf-invoice-details-table {
  text-align: left;
}

// e.g. Company - Email - ABN
#pdf-biller-details {
  text-align: right;
  padding-top: 1%;
}

// e.g. Description, Qty, Unit Price, GST, Total
#pdf-invoice-items {
  font-size: 1.2em;
  padding-top: 2%;
}

.pdf-invoice-items-table {
  text-align: right;
}

// e.g. Payment Options, Bank Deposit, etc
#pdf-payment-options {
  text-align: right;
  padding-top: 2%;
}

// TODO: [2020] This is valid for show.pdf.erb; rename for clarity -- or does this affect both PDF and non-PDF show.erb pages?
.payment-details {
  font-size: 1.5em;
}
