// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* For Invoice PDF output */
#pdf-invoice-number {
	text-align: right;
}

#pdf-invoice-details {
	text-align: right;
}

.pdf-invoice-details-table {
	text-align: right;
}
