// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* For Invoice PDF output */
#pdf-invoice-number {
  text-align: right;
}

#pdf-invoice-details {
  font-size: 1.2em;
  text-align: right;
  padding-top: 2%;
}

#pdf-invoice-items {
  font-size: 1.2em;
  padding-top: 2%;
}

#pdf-biller-details {
  text-align: right;
  padding-top: 1%;
  // font-size: 3em;
}

#pdf-biller-details h1 {
  font-size: 1.5em;
}

#pdf-biller-details h2 {
  font-size: 1.2em;
}

#pdf-payment-options {
  text-align: right;
  padding-top: 2%;
  // font-size: 3em;
}

.payment-details {
  font-size: 1.5em;
}

/*
h1 {
	font-size: 7em;
}

h2 {
	font-size: 6em;
}

h3 {
	font-size: 5em;
}

h4 {
	font-size: 4em;
}
*/

.pdf-invoice-details-table {
  text-align: right;
}
