// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* For Invoice PDF output */
#pdf-invoice-number {
	text-align: right;
}

#pdf-invoice-details {
	text-align: right;
	padding-top: 2%;
}

#pdf-invoice-items {
	padding-top: 2%;
}

#pdf-biller-details {
	text-align: right;
	padding-top: 1%;
}

#pdf-payment-options {
	text-align: right;
	padding-top: 2%;
}

.pdf-invoice-details-table {
	text-align: right;
}
