// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

// `show.html.erb`
#add-new-invoice {
  margin-top: 1.2em;
}

#invoice-detail {
  margin-top: 1.2em;
}

#edit-invoice {
  margin-top: 1.2em;
}

// For Invoice PDF output (`show.pdf.erb`)
#pdf-invoice-number {
  text-align: right;
}

#pdf-invoice-details {
  font-size: 1.2em;
  text-align: right;
  padding-top: 2%;
}

#pdf-invoice-items {
  font-size: 1.2em;
  padding-top: 2%;
}

#pdf-biller-details {
  text-align: right;
  padding-top: 1%;
  // font-size: 3em;
}

#pdf-payment-options {
  text-align: right;
  padding-top: 2%;
  // font-size: 3em;
}

.pdf-invoice-details-table {
  text-align: right;
}

// TODO: [2020] This is valid for show.pdf.erb; rename for clarity -- or does this affect both PDF and non-PDF show.erb pages?
.payment-details {
  font-size: 1.5em;
}
